@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
}
#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column; 
    padding: 5px; 
}
#container > #resultado {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
#container > #resultado > #display {
    border: none;
    width: 100%;
    height: 100px;
    text-align: end;
    padding-right: 25px;
    padding-bottom: 30px;
    font-size: 5em;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#container > .coluna {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#container > .coluna > .numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 3em;
    margin: 5px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}


#container > .coluna > .num {
    background-color: rgb(63, 63, 63);
    color: white;
}
#container > .coluna > .num:hover {
    animation: cor1 forwards .5s;
}
@keyframes cor1 {
    0% {
        background-color: rgb(73, 73, 73);
        box-shadow: inset 0px 0px 10px black;
        font-size: 2.5em;
    }
    100% {
        background-color: rgb(63, 63, 63);
        color: white;
    }
}



#container > .coluna > .som {
    background-color: orange;
}
#container > .coluna > .som:hover {
    animation: cor2 forwards .2s;
}
@keyframes cor2 {
    0% {
        background-color: rgb(255, 180, 42);
        box-shadow: inset 0px 0px 10px black;
        font-size: 2.5em;
    }
    100% {
        background-color: orange;
        color: black;
    }
}

